    .wrapper {
      background: url(../../../assets/img/map-shanghai.png) #eee no-repeat center center / 270px 300px;
      width: 60%;
      height: 80vh;
      position: relative;
      margin: auto;
    }
